# See http://help.github.com/ignore-files/ for more about ignoring files.

# source
/src/favicon.ico
/src/environments/
/src/assets/
/src/polyfills.ts
/src/test.ts
/src/main.ts
/src/styles.css
/src/favicon.ico
/src/typings.d.ts

# compiled output
# /dist # we do want to allow /dist so we can display the sample app
/dist-server
/tmp
/out-tsc

# dependencies
Project-Name-Frontend/project-name/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
Project-Name-Frontend/angular-cli-esri-map/e2e
Project-Name-Frontend/angular-cli-esri-map/e2e/*.js
Project-Name-Frontend/angular-cli-esri-map/e2e/*.map

# System Files
.DS_Store
Thumbs.db
